<div class="row">
  <div class="col-md-4 col-md-offset-4 stitch2">
    <h1>Login</h1>
    <hr>
    <%= form_for :user, url: "/sessions", method: :post do |f| %>
      <div class="form-group">
        <%= f.label :username %>
        <%= f.text_field :username, class: "form-control", placeholder: "Your Username", autofocus: true %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Your password" %>
      </div>
      <div class="form-group">
        <%= f.submit "Log In", class: "btn btn-block btn-success" %>
    <% end %>
    <p>Don't have an account? <%= link_to "Click here", signup_path %> to sign up.</p>
  </div>
</div>