<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#first"><i class="ion-pound"></i> pokemath</a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <ul class="nav navbar-nav pull-right">
        <li>
          <%= link_to "PokeDex", "#" %>
        </li>
        <li>
          <% if current_user %>
  Signed in as <%= current_user.username %>  <%= link_to 'Logout', '/logout' %>
        
        <% else %>
        
           <%= link_to 'Login', '/login' %>  <%= link_to 'Signup', '/signup' %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

