<nav id="topNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="/"><%= image_tag ("pika.gif"), class: "img-responsive pika-gif" %></a>
    </div>
    <div class="navbar-collapse collapse" id="bs-navbar">
      <ul class="nav navbar-nav pull-left">
        <li>
          <a href="#" data-target="#instrucModal" data-toggle="modal">Instructions</a>
        </li>
        <li>
          <%= link_to "About", "/about" %>
        </li>
        <% if current_user %>
          <% unless controller_name == "pokemons" && action_name == "show" %>
            <li>
              <%= link_to "Questions", "javascript:void(0)", data: { toggle: "modal", target: "#questionModal" } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    <div class="navbar-collapse collapse" id="bs-navbar"> 
      <ul class="nav navbar-nav pull-right">
        <% if current_user %>
        <li>
          <%= link_to "Play Game!", "/map" %>
        </li>
          <li>
             <%= link_to "PokéDex", user_path(current_user) %>
          </li>
          <li> 
            <%= link_to "Logout", "/logout" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Login", "/login" %> 
          </li>
          <li> 
            <%= link_to "Signup", "/signup" %>
          </li>
      <% end %>
      </ul>
    </div>
  </div>
</nav>

<!-- Modal -->
<div id="instrucModal" class="modal fade" role="dialog">
  <div class="modal-dialog"> 
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;
        </button>
        <h4 class="modal-title header-font" >Instructions</h4>
      </div>
      <div class="modal-body">
        <p class="modal-instructions">Move around the map with the following keys:</p>
        <p class="modal-instructions">J - Left</p>
        <p class="modal-instructions">K - Down</p>
        <p class="modal-instructions">L - Right</p>
        <p class="modal-instructions">I - Up</p>
        <br>
        <p class="modal-instructions">Move towards any pokemon for a chance to catch it!</p>
        <p class="modal-instructions">When engaged in battle, use J, K or L to select the correct answer.</p>
      </div>
    </div>
  </div>
</div>
