<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1 class="signup-login text-center">Sign Up!</h1>
    <hr>
    <%= form_for @user do |f| %>
      <div class="form-group">
        <%= f.label :username %>:
        <%= f.text_field :username, class: "form-control", placeholder: "Please enter your username", autofocus: true  %>
      </div>
      <div class="form-group">
        <%= f.label :password %>:
        <%= f.password_field :password, class: "form-control", placeholder: "Must be at least 6 characters" %>
      </div>
      <div class="form-group">
        <%= f.label :password_confirmation, "Password Confirmation" %>
        <%= f.password_field :password_confirmation, class: "form-control", placeholder: "Confirm password" %>
      </div>
      <div class="form-group">
        <%= f.submit "Sign Up", class: "btn btn-block btn-success btn-login-signup" %>
      </div>
    <% end %>
    <p>Already have an account? <%= link_to "Click here", login_path, class: "click-here" %> to log in.</p>
  </div>
</div>