<div class="about container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Steven Noble</h4>
          <p class="about-us modal-instructions">favorite pokemon is mario</p>
          <%= link_to "https://github.com/stevendnoble", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "stevennoble78@hotmail.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Eddy Chang</h4>
          <p class="about-us modal-instructions">Eddy hates pokemans</p>
          <%= link_to "https://github.com/TheEddyChang", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "ehchang58@yahoo.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">John Dwyer</h4>
          <p class="about-us modal-instructions">What is a pokeman</p>
          <%= link_to "https://github.com/Jsdwyer26", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "ehchang58@yahoo.com", class: "btn btn-lg" do %>
            <p class="modal-instructions"><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Alan Lee</h4>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              image goes here
            </div>
          </div>
          <p class="about-us modal-instructions">Pokemon is wow.</p>
          <div class="row">
            <%= link_to 'https://github.com/alanlee35?tab=repositories', class: "btn btn-lg" do  %>
              <p class="modal-instructions"><i class="ion-social-github"></i></p>
            <% end %>
            <%= link_to 'www.linkedin.com/in/alanblee', class: "btn btn-lg" do %>
              <p class="modal-instructions"><i class="ion-social-linkedin-outline"></i></p>
            <% end %>
            <%= mail_to 'alanblee12@gmail.com', class: "btn btn-lg" do %>
              <p class="modal-instructions"><i class="ion-email"></i></p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 well">
       <h1>What is PokéMath</h1>
      <p class="modal-instructions">The goal of Pokemath is to have a playful and educational platform for young individuals to hone their math skills while showing them learning can be fun. Through this we hope to have a positive impact on children's lives as they continue their neverending journey of self growth.</p>
    </div>
  </div>
</div>
