<div class="about container">
  <div class="row">
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Steven Noble</h4>
          <p class="about-us">Previously a math teacher Steven has made his way to San Francisco to use his analyitcal skills as a web developer. The idea of Pokemath originated from Steven as he had a vision to help all people have fun learning. </p>
          <%= link_to "https://github.com/stevendnoble", class: "btn btn-lg" do %>
            <p><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "stevennoble78@hotmail.com", class: "btn btn-lg" do %>
            <p><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Eddy Chang</h4>
          <p class="about-us">Eddy came to San Francisco to find a career in technology where he hopes he can apply these skills within the Sports Entertainment industry. He's great working with people and bringing them together and hopes to advance his career as a web developer. </p>
          <%= link_to "https://github.com/TheEddyChang", class: "btn btn-lg" do %>
            <p><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "ehchang58@yahoo.com", class: "btn btn-lg" do %>
            <p><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">John Dwyer</h4>
          <p class="about-us">John has worked in various legal fields and now aspires to use programming to change the world. Involved in all aspects of this site John brings a creative approach towards building interactive websites.</p>
          <%= link_to "https://github.com/Jsdwyer26", class: "btn btn-lg" do %>
            <p><i class="ion-social-github"></i></p>
          <% end %>
          <%= link_to "linkedin.com", class: "btn btn-lg" do %>
            <p><i class="ion-social-linkedin-outline"></i></p>
          <% end %>
          <%= mail_to "ehchang58@yahoo.com", class: "btn btn-lg" do %>
            <p><i class="ion-email"></i></p>
          <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="well">
        <h4 class="text-center headers">Alan Lee</h4>
          <div class="row">
            <div class="col-xs-6 col-xs-offset-3">
              image goes here
            </div>
          </div>
        <p class="about-us">Alan is responsible for much of the functionality and stylng of this site. With a great eye for creating beautiful websites Alan hopes to use these skills and continue to build more websites that people can enjoy.</p>
        <%= link_to 'https://github.com/alanlee35?tab=repositories', class: "btn btn-lg" do  %>
          <p><i class="ion-social-github"></i></p>
        <% end %>
        <%= link_to 'www.linkedin.com/in/alanblee', class: "btn btn-lg" do %>
          <p><i class="ion-social-linkedin-outline"></i></p>
        <% end %>
        <%= mail_to 'alanblee12@gmail.com', class: "btn btn-lg" do %>
          <p><i class="ion-email"></i></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 well">
       <h1>What is PokéMath</h1>
      <p>The goal of Pokemath is to have a playful and educational platform for young individuals to hone their math skills while showing them learning can be fun. Through this we hope to have a positive impact on children's lives as they continue their neverending journey of self growth.</p>
    </div>
  </div>
</div>
