<div class="container game-screen">
  <div class="row" id="battle-screen">
    <div class="col-xs-8 battle-toggle" id="battle-encounter">
      <h1 class="text-center">You've encountered a <%= @pokemon.species %></h1>
      <br>
      <h2>Answer all five questions correctly to catch <%= @pokemon.species %>.</h2>
      <h2>Be sure to answer fast enough, or <%= @pokemon.species %> will run away!</h2>
      <br>
      <h2 class="text-center">Press [spacebar] to begin.</h2>
    </div>
    <div class="col-xs-8 battle-toggle" id="battle-questions">
      <div class="row" id="timer"> <!-- timer -->
        <div class="col-xs-12">
          <h1 class="text-center">0:15</h1>
        </div>
      </div>
      <div class="row"> <!-- problem# -->
        <div class="col-xs-12">
          <h1 class="text-center">Problem #<span id="problem-number"></span></h1>
        </div>
      </div>
      <div class="row"> <!-- question -->
        <div class="col-xs-12">
          <h1 class="text-center"><span id="num1"></span> <span id="operation"></span> <span id="num2"></span> =</h1>
        </div>
      </div>
      <div class="row"> <!-- answers -->
        <div class="col-xs-2 col-xs-offset-3">
          <h1 class="text-center"><span id="choice1"></span></h1>
        </div>
        <div class="col-xs-2">
          <h1 class="text-center"><span id="choice2"></span></h1>
        </div>
        <div class="col-xs-2">
          <h1 class="text-center"><span id="choice3"></span></h1>
        </div>
      </div>
      <div class="row"> <!-- keys -->
        <div class="col-xs-2 col-xs-offset-3">
          <h1 class="text-center">J</h1>
        </div>
        <div class="col-xs-2">
          <h1 class="text-center">K</h1>
        </div>
        <div class="col-xs-2">
          <h1 class="text-center">L</h1>
        </div>
      </div>
    </div>
    <div class="col-xs-8 battle-toggle" id="battle-caught">
      <h1 class="text-center">You've caught <%= @pokemon.species %>!</h1>
      <h2>Give your <%= @pokemon.species %> a name and save him to your PokeDex.</h2>
      <%= form_for @caught_pokemon do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Enter your pokemon name", autofocus: true  %>
        </div>
        <%= f.hidden_field :pokemon_id, value: @pokemon.id %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
          <%= f.submit "Save to PokeDex", class: "btn btn-block btn-success" %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-8 battle-toggle" id="battle-escaped">
      <h1><%= @pokemon.species %> ran away...</h1>
      <h2>Press [spacebar] to return to the map.</h2>
    </div>
    <div class="col-xs-4"> <!-- pokemon -->
      <div class="row"> <!-- progress bar -->
        <div class="col-xs-12 pokemon-status">
          <p><%= @pokemon.species.upcase %> LV<%= rand(50) %></p>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" id="hp">
            </div>
          </div>
        </div>
      </div>
      <div class="row"> <!-- pokemon sprite -->
        <div class="col-xs-12">
          <%= image_tag "pokemon/"+@pokemon.sprite, class: "battle-pokemon img-responsive" %>
        </div>
      </div>
      <div class="row"> <!-- I choose you... -->
        <div class="col-xs-10 col-xs-offset-1" id="choose-you">
          <h1>I choose you, <span id="answer-choice"></span>!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row directions"> <!-- Directions -->
    <div class="col-xs-6">
      <div>
      <h4>How to play:</h4>
      <p>
        <i class="ion-arrow-left-b"></i>
        <i class="ion-arrow-down-b"></i>
        <i class="ion-arrow-right-b"></i>
        &nbsp;&nbsp;Use the arrow keys to select an answer
      </p>
      </div>
    </div>
    <div class="col-xs-6">
      <h4>What to do</h4>
      <p>Answer all five questions before the timer runs out to catch a new pokemon!</p>
    </div>
  </div>
</div>
