
<div class="container">
  <div class="col-md-6 col-md-offset-3">

      <h2><%= @caught_pokemon.name %><span><%= image_tag @pokeData.national_id.to_s + ".png" %></span></h2>
      <h4>Pokemon: <%= @pokeData.name%></h4>
    <ul>  
      <li>Exp: <strong><%= @pokeData.exp %></strong></li>
      <li>Attack: <strong><%= @pokeData.attack %></strong></li>
      <li>Defense: <strong><%= @pokeData.attack %></strong></li>
      <li>Attack: <strong><%= @pokeData.attack %></strong></li>
      <li>Attack: <strong><%= @pokeData.attack %></strong></li>
      <li><%= @pokeData.national_id %></li>
  </ul>  
  </div>
</div>
<!--  -->

