
<%= link_to 'Back to your Pokedex', user_path(current_user), class: "btn btn-default" %>

<div class="pokeImage">
  <%= image_tag "pokemon/" + @pokemon.sprite, class: "image-responsive" %>
</div>

<div class="col-md-4 col-md-offset-6"> 
   <h3><%= @caught_pokemon.name %> <small><%= @pokemon.species %></small></h3>
   <p>Caught <%= time_ago_in_words(@caught_pokemon.created_at)%> ago</p>
  <table class="pokeInfo table">
    <tr>
      <td><strong>Type: </strong></td>
      <td><%= @pokemon.pokemon_type1.titleize %></td>
    </tr> 
    <tr>
      <td><strong>Attack: </strong></td>
      <td><%= @pokemon.attack %></td>
    </tr> 
    <tr>
      <td><strong>Defense: </strong></td>
      <td><%= @pokemon.defense %></td>
    </tr>
    <tr>
      <td><strong>SP Attack: </strong></td>
      <td><%= @pokemon.sp_attack %></td>
    </tr> 
    <tr>
      <td><strong>SP Defense: </strong></td>
      <td><%= @pokemon.sp_defense %></td>
    </tr>
    <tr>  
      <td><strong>Speed: </strong></td>
      <td><%= @pokemon.speed %></td>
    </tr>   
  </table>
</div> 

 
    
